/* GLOBAL STYLE */

* {
  font-family: "Montserrat";
}
html,
body {
  background: #fdeee9;
}
.wrapper {
  width: 1620px;
  margin-inline: auto;
}
/* END GLOBAL STYLE */

/* HEADER STYLE */
.header {
  margin-top: 20px;
  background: #ab3f4f;
  width: 100%;
}

.header-logo {
  height: 136px;
  background: #ab3f4f;
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  background: #ab3f4f;
}
.header-logo-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
}
.header-nav-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ab3f4f;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header-nav__link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 600;
  color: #fff;

  text-transform: uppercase;

  padding: 10px 20px;
  justify-content: center;
  align-items: center;
}

.header-user-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
.user-info-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 0;
  gap: 14px;
}

.search-bar-with-icon {
  position: relative;
}
.search-bar-with-icon .input {
  padding: 16px 16px 16px 75px;
  border-radius: 50px;
  border: 1px solid #ab3f4f;
  transition: linear 0.2s;
  background: #fdeee9;
  color: #9ca3af;
}
.search-bar-with-icon .input:focus {
  /* to be done */
}
.search-bar-with-icon .input:focus + .search-icon {
  /* to be done */
}
.search-bar-with-icon .search-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #ab3f4f;
  transition: linear 0.2s;
  pointer-events: none;
}
.shopping-icon,
.user-icon {
  width: 45px;
}

/* END HEADER STYLE */

/*  BANNER STYLE  */
.banner {
  margin-top: 8px;
  display: flex;
  align-items: center;
  margin-inline: auto;
  background: #fdeee9;
  justify-content: center;
}
.banner-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: contain;
}
/*  END BANNER STYLE */

/* OPTION UP SALE STYLE */
.upsale-opt__list {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}
.upsale-opt__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #ab3f4f;
  padding: 20px 0 20px 0;
  text-align: center;
}
.upsale-opt-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 60px; */
  padding: 0 18px 0 0;
}
.upsale-opt__link {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  text-align: left;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;

  color: #fdeee9;
}
/* END OPTION UP SALE STYLE */

/* VOUCHER STYLE */
.voucher-card__list {
  list-style-type: none;
  padding: 0;

  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.voucher-card__item {
  display: flex;
  align-items: center;

  background: white;
  border-radius: 8px;
  overflow: hidden;
}
.voucher-card-wrapper {
  height: 100%;
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
  /* gap: ; */
}
.voucher-card-info {
  height: 100%;
  width: 100%;
  display: flex;

  align-items: center;
}
.voucher-card-type-shipping {
  height: 100%;
  background: #4bbdc8;
  aspect-ratio: 1/1;

  padding: 20px 0 0 0;

  display: block;
  align-items: center;
  justify-content: flex-start;
}
.voucher-card-type-price {
  height: 100%;
  background: #ab3f4f;
  aspect-ratio: 1/1;

  padding: 20px 0 0 0;

  display: block;
  align-items: center;
  justify-content: flex-start;
}
.voucher-card-title,
.voucher-card-desc {
  display: flex;
  justify-content: center;
  text-align: center;
}
.voucher-card-title-text {
  padding: 10px 20px 20px 20px;
  display: flex;
  justify-content: center;
  text-align: center;

  font-size: 18px;
  font-weight: 800;
  font-style: italic;
  text-transform: uppercase;
  line-height: 0.8;

  color: #fff;
}
.voucher-card-desc-text {
  display: flex;
  text-align: center;
  justify-content: center;

  font-size: 10px;
  line-height: 1;
  color: #fff;
}
.voucher-card-content {
  height: 100%;
  padding: 20px;

  align-items: center;
  justify-content: center;
  /* line-height: 1.5px; */
}
.card-content-header {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.sale-price-condition,
.sale-program-title,
.sale-program-status {
  margin: 0;
  font-size: 12px;
  padding: 0;
}
.sale-program-title {
  border: 1px solid #ab3f4f;
  border-radius: 4px;
  padding: 2px;
  color: #ab3f4f;
}
.voucher-card-right {
  /* height: 30%; */
  width: 30%;
  padding: 0 16px 0 0;
  align-items: center;
}

.save-voucher-btn-shipping {
  margin-top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px 20px;
  width: 100%;
  border: #4bbdc8;
  border-radius: 20px;
  background: #4bbdc8;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.save-voucher-btn-price {
  margin-top: 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px 20px;
  width: 100%;
  border: #ab3f4f;
  border-radius: 20px;
  background: #ab3f4f;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.voucher-apply-condition {
  text-decoration: underline;
  font-size: 8px;
  font-weight: bold;
  color: black;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
}
/* END VOUCHER STYLE */

/* CATEGORIES STYLE */
.category-opt__list {
  list-style-type: none;
  padding: 0;

  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 16px;
}
.category-opt__item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 999px;
  background-color: #f3f3f3;
  /* padding: 24px 0 24px 0; */
  text-align: center;
}
.category-opt-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-right: 12px; */
  /* padding-left: -50px; */
  width: 100px;
}
.category-opt__link {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: normal;
  text-decoration: none;
  text-align: left;
  text-transform: capitalize;
  font-size: 16px;
  color: #ab3f4f;
  padding: 12px 0 12px 0;
}
.category-opt__link:hover {
  font-weight: 500;
}
/* END CATEGORIES STYLE */

/* FLASH SALE SALE */
.flashSale-wrapper {
  margin-top: 40px;
}
.flashSale-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 0.5;
}
.flashSale-header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 48px;
}
.flashSale-head-text {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  color: #ab3f4f;
  user-select: none;
}
.flashSale-counter-time {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 10px;
}
.flashSale-timeon-hour,
.flashSale-timeon-minute,
.flashSale-timeon-second {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 6px;
  line-height: 1;
  padding: 4px 8px;
  background: linear-gradient(to top, #ab3f4f, #f491a3);

  font-size: 20px;
  font-weight: 500;
  color: white;
}
.flashSale-check-all-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  font-size: 20px;
  font-weight: 500;
  color: #ab3f4f;
}
/* FLASH SALE ITEM STYLE */
.flashSale-product__list {
  list-style-type: none;
  padding: 0;

  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}
.flashSale-product__item {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;

  text-align: center;
}
.flashSale-product__card {
  width: 100%;
  display: grid;
  justify-content: column;
  align-items: center;
}
.flashSale__card-img-wrap {
  width: 100%;
  aspect-ratio: 1/1;
  background: #ab3f4f;
}
.flashSale__card-price {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 0.5;
  margin-top: 20px;

  font-size: 20px;
  font-weight: 600;
  color: black;
}
.flashSale__card-saled {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  margin-top: 20px;

  background: linear-gradient(to right, #ab3f4f, #f491a3);
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}
/* END FLASH SALE ITEM STYLE */
/* END FLASH SALE STYLE */

/* PRODUCT CONTAINER  */
.product-wrapper {
  margin-top: 46px;
  position: relative;
}
.product-wrapper-bg {
  position: absolute;
  top: 0;
  left: -40px;
  width: calc(100% + 80px);
  height: 100%;

  border-top-left-radius: 80px;
  border-top-right-radius: 80px;

  background: linear-gradient(to bottom, #fef6f4, transparent);

  z-index: 0;
}
.product-filter,
.product-item-container {
  position: relative;
  z-index: 1;
}
.product-filter {
  top: 41px;
}
.product-item-container {
  top: calc(41px + 30px);
}

.product-filter__list {
  list-style-type: none;
  padding: 0;
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 77px;
}
.product-filter__item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 256px;
}
.product-filter-icon {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
}
.product-filter__link {
  width: 100%;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50px;

  padding: 10px 50px;
  background: #f3f3f3;
  color: #ab3f4f;
  font-size: 24px;
  font-weight: 500;
}
.product-filter__link:hover {
  border: 1px solid white;
  background: #ab3f4f;
  color: white;
}

/* PRODUCT ITEM CONTAINER STYLE */
.product__List {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;

  list-style: none;

  justify-content: center;
  align-items: center;
}
.product__item {
  background: transparent;
}
.product-item__card {
  display: grid;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 5px;
  overflow: hidden;
}
.product-item__card:hover {
  background: white;
  border: 1px solid white;
}

.product-item__img {
  width: 100%;
  aspect-ratio: 1/1;
}
.product-itemCard-desc {
  margin-top: 10px;
}
.product-itemCard-desc-type {
  text-transform: uppercase;
  border-radius: 4px;
  background: #ab3f4f;
  color: white;
  padding: 4px;
  margin-left: 1px;
  margin-right: 8px;

  font-size: 12px;

  justify-content: center;
  align-items: center;
}
.product-itemCard-desc-text {
  justify-content: center;
  align-items: center;

  font-size: 12px;
}
.product-itemCard-purchase {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.product-itemCard-purchase-price {
  margin-left: 1px;
  display: flex;
  align-items: center;

  font-size: 12px;
  font-weight: bold;
}
.product-itemCard-purchase-add {
  margin-right: 1px;
  margin-bottom: 1px;
  border-radius: 20px;
  border: 1px solid #000;
  display: flex;
  align-items: flex-end;
  padding: 2px 12px;
}
.product-itemCard-purchase-add-img {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

/* PAGINATION STYLE */
.pagination {
  margin-top: 66px;
  display: flex;
  justify-content: flex-end;
}
.pagination-info {
  display: block;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #b1b1b1;
}
.pagination .pagination-list {
  display: flex;
  align-items: center;
  gap: 6px;
}
.pagination .pagination-link {
  text-decoration: none;
  color: #000;
  display: block;
  min-width: 24px;
  height: 24px;
  padding-inline: 4px;
  border-radius: 100rem;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  user-select: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.pagination .pagination-link:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.pagination .pagination-link.selected {
  background-color: #ab3f4f;
  color: white;
}
/* END PAGINATION STYLE */
/* PRODUCT ITEM CONTAINER STYLE */
/* END PRODUCT CONTAINER  */

/* FOOTER */
.footer {
  margin-top: calc(56px + 46px);
  background: white;
}
.footer-category-wrap {
  /* margin-top: 34px; */
  display: flex;
  justify-content: space-around;
}
.footer-category {
  padding-top: 30px;
}

.footer-heading {
  margin-bottom: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-category-item {
  margin-bottom: 10px;
}
.footer-category-item:last-child {
  margin-bottom: 0;
}
.footer-link-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-link {
  text-decoration: none;
  color: black;
  transition: linear 0.2s;
}
.footer-link:hover {
  font-weight: 600;
}
.social-item {
  width: 40px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}
.social-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.social-link {
  transition: linear 0.25s;
}
.social-link:hover {
  opacity: 0.5;
}
.social-icon {
  height: 25px;
  width: 25px;
}

.footer-bottom {
  margin-top: 88px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom img {
  width: 320px;
  padding-bottom: 60px;
}
